RELEASEPANEL_RUNNER_HOST=127.0.0.1
RELEASEPANEL_RUNNER_PORT=9000
RELEASEPANEL_RUNNER_KEY=CHANGE_ME
RELEASEPANEL_RUNNER_LOG=/var/log/releasepanel-runner.log
RELEASEPANEL_RUNNER_NORMAL_TIMEOUT_MS=120000
RELEASEPANEL_RUNNER_DEPLOY_TIMEOUT_MS=900000
RELEASEPANEL_PANEL_URL=
RELEASEPANEL_RUNNER_PUBLIC_URL=
RELEASEPANEL_RUNNER_HEARTBEAT_MS=30000
